*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:blue;
}
.container{
    width: 100%;
    padding: 0 50px ;
}

nav{
    width: 100%;
    height: 60px;    
    display: flex;
    align-items: center;
    gap: 50px;
}

.block2{
    width: 100%;
    height: 300px;
    display: flex;
}

.text{
    width: 40%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.foto{
    width: 60%;
    height: 100%;
}

.foto img {
    width: 100%;
}